@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.page-container {
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* -------------
NAVIGATION
------------- */

nav {
  background: #ffffff;
  padding: 20px;
  list-style-type: none;
  border-top: 30px solid #fcf2f1;
  border-bottom: 5px double #fcf2f1;
  width: 100%;
}

nav > ul > li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
}

.logo {
  margin: 0px;
  padding: 5px 50px;
  padding-top: 20px;
  float: left;
  width: 12%;
  height: 12%;
}

nav > ul > li:last-child {
  float: right;
  padding-right: 80px;
}

nav > ul > li .navlink {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: "Tenor Sans", sans-serif;
}

nav > ul > li .navlink:hover {
  color: #d4b8b8;
  transition: 300ms;
  padding-left: 6px;
  border-left: solid 1px #d4b8b8;
}
