@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");

.container3 {
  margin-left: 8%;
  margin-right: 8%;
  height: 800px !important;
}

.orders {
  font-family: "Tenor Sans", sans-serif;
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
}

.quantity {
  text-align: center;
}

.price {
  text-align: center;
}

.addBtn {
  color: black;
  background: white;
  font-size: 11px;
}

.addBtn:hover {
  color: #d4b8b8;
  background: white;
  border: none;
}

.removeBtn {
  color: black;
  background: white;
  font-size: 11px;
}

.removeBtn:hover {
  color: #d4b8b8;
  background: white;
  border: none;
}

.removeAll {
  color: black;
  background: white;
  font-size: 11px;
}

.removeAll:hover {
  color: #d4b8b8;
  background: white;
  border: none;
}
