@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");

#row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#img {
  margin: 5%;
  padding: 0.5%;
  width: 45%;
  height: 45%;
  border: dashed 1px #d4b8b8;
}

#text {
  margin: 0;
  width: 40%;
  height: 10%;
  background: #fcf2f1;
  padding: 1% 4%;
  font-family: "Tenor Sans", sans-serif;
  color: #000000;
}

footer {
  bottom: 0;
  background: #fcf6f5;
  text-align: center;
  width: 100%;
  margin-top: 8%;
  padding: 3%;
  font-family: "Tenor Sans", sans-serif;
  font-size: 14px;
  color: #5e5e5e;
}
