@import url("https://fonts.googleapis.com/css?family=Tenor+Sans");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");

/* -------------
PRODUCT PAGE
------------- */

h3 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 25px;
  text-align: center;
}

h4 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.product-img {
  margin: 5%;
  width: 90%;
  height: 50%;
}

.price {
  font-family: "Tenor Sans", sans-serif;
  font-size: 12px;
  text-align: center;
}

.container2 {
  margin-left: 8%;
  margin-right: 8%;
  height: 1400px !important;
}

.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.product-listing .product-list-item {
  padding: 50px 30px;
  width: 25%;
}
