/* -------------
PRODUCT PAGE
------------- */

.container2 {
  margin-left: 5%;
  margin-right: 5%;
}

.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-listing .product-list-item {
  padding: 10px 55px;
  width: 250px;
}
